manifest {
    homePage = 'http://github.com/cbcrg/dpa-analysis'
    description = 'Double Progressive Alignment Analysis'
    mainScript = 'main.nf'
}

process {
    container = 'cbcrg/tcoffee-dpa@sha256:ca3c502487d9476a8f1248facb509dd32fb4779d39505f16471ec615cf15843a'
    //container = 'docker://cbcrg/tcoffee-dpa@sha256:ca3c502487d9476a8f1248facb509dd32fb4779d39505f16471ec615cf15843a'
} 


//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig 'configs/loc_crg.config' }
}

