manifest {
    homePage = 'http://github.com/cbcrg/dpa-analysis'
    description = 'Double Progressive Alignment Analysis'
    mainScript = 'main.nf'
}

process {
    //container = 'cbcrg/tcoffee-dpa@sha256:85ca19d47ff5289a339ebdc5b25cb523d62223b5935d7c8367a16643f57de510'
    container = 'docker://cbcrg/tcoffee-dpa@sha256:85ca19d47ff5289a339ebdc5b25cb523d62223b5935d7c8367a16643f57de510'
    //maxForks = 10
} 

//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig 'configs/131017.config' }
}

