manifest {
    homePage = 'http://github.com/cbcrg/dpa-analysis'
    description = 'Double Progressive Alignment Analysis'
    mainScript = 'main.nf'
}


process {
    container = 'docker://cbcrg/tcoffee-dpa@sha256:cd4496f985a81d1c54519cf255f715fe3bce6c74bc2d9ca663f53bdaecf164b3'
} 


//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig 'configs/loc_crg.config' }
}

