process {
    executor = 'crg'
    queue = { task.attempt < 2 ? 'mem_256' : 'mem_512' }
    time = '96h'
    memory = { task.attempt < 2 ? '248GB' : '496.GB' }
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' } 
    maxRetries = 1
}

singularity {
    enabled = true
}

docker {
    enabled = false
}
