process {
    executor = 'crg'
    queue = { task.attempt < 4 ? 'cn-el7' : task.attempt <  7 ? 'long-sl7' : 'mem_256' }
    time = { task.attempt < 4 ? '12h' : task.attempt <  7 ? '48h' : '72h' }
    memory = { task.attempt < 4 ? (12.GB * task.attempt) : task.attempt <  7 ? (18.GB * task.attempt) : 200.GB }
    errorStrategy = { task.attempt < 7 ? 'retry' : 'finish' } 
    maxRetries = 6
    //scratch = true  // for docker use
}

singularity {
    enabled = true
}

docker {
    enabled = false
}
