params { 

    // Name
    name = "DPA Analysis"

    // input sequences to align [FASTA]
    seqs = "$baseDir/tutorial/seqs/seatoxin.fa"

    // input reference sequences aligned [Aligned FASTA]
    refs = "$baseDir/tutorial/refs/seatoxin.ref"

    // input guide tree(s) [NEWICK]
    //trees = "$baseDir/tutorial/trees/sample.nwk"

    // output directory [DIRECTORY]
    output = "$baseDir/tutorial/results"

    // alignment method [CLUSTALO | MAFFT | UPP]
    align_method = CLUSTALO

    // tree method [CLUSTALO | MAFFT | RANDOM]
    tree_method = CLUSTALO

    // create dpa alignments [BOOL]
    dpa_align = true

    // use standard alingments [BOOL] 
    std_align = true

}


process {
    container = 'cbcrg/tcoffee-dpa'
} 
