params { 

    // Name
    name = "DPA_Analysis"

    // input sequences to align [FASTA]
    seqs = "$baseDir/tutorial/seqs/seatoxin.fa"

    // input reference sequences aligned [Aligned FASTA]
    refs = "$baseDir/tutorial/refs/seatoxin.ref"

    // input guide tree(s) [NEWICK]
    //trees = "$baseDir/tutorial/trees/sample.nwk"
    trees = NULL

    // output directory [DIRECTORY]
    output = "$baseDir/results"

    // alignment method [CLUSTALO | MAFFT | UPP]
    align_method = "CLUSTALO"

    // tree method [CLUSTALO | MAFFT | RANDOM]
    tree_method = "CLUSTALO"

    // create dpa alignments [BOOL]
    dpa_align = true

    // use standard alingments [BOOL] 
    std_align = true

}


process {
    container = 'cbcrg/tcoffee-dpa@sha256:dc384a6e90a57ff64f987dea7d12b7dc8c227ba8d0448c969665d8ea7bc1ae12'
} 
